PORT=3000
NODE_ENV=production
API_KEY=MIJA_BACKEND_KEY_123

# Se llenarán más adelante cuando conectes WhatsApp Business Platform o Twilio SMS
# META_ACCESS_TOKEN=
# META_PHONE_NUMBER_ID=
# META_VERIFY_TOKEN=
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_SMS_FROM=
